.main {
    height: 90vh;
    text-align: center;

}

.main button {
    margin-top: 0.3rem;
}

.todolist {
    margin-left: 40%;
    text-align: left;
    width: 20%;
}

.todolist li {
    padding: 0.5rem 0;
    list-style: none;
    text-align: left;
}
.footer {
    border-top: solid black 1px;
    text-align: center;
}